:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109,109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.main-footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}